<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'home'%}">Bzm blog</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'add_news' %}">Добавить статью</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'feedback' %}">Обратная связь</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link disabled">Добавить статью</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Обратная связь</a>
          </li>
          {% endif %}
        </ul>
        <span class="navbar-text">
          {% if request.user.is_authenticated %}
          Добро пожаловать, {{user.username}}  | <a href="{% url 'logout' %}">Выйти</a>
          {% else %}
          <a href="{%url 'register' %}">Регистрация</a> | <a href="{%url 'login' %}">Войти</a> 
          {% endif %}
        </span>
      </div>
    </div>
  </nav>